body{
	font-family: 'Montserrat';
	
}

body li{
	list-style: none;
}

.main-wrapper{
	width: auto;
	background-color: #e9e9e9;
}

.inner-main-wrapper{
	max-width: 80em;
	margin: 0 auto;
	
}

/*header*/

.header-wrapper{
	min-width: auto;
	background-color: #ffffff;
	padding-left: 3.515625%; /*45px;*/ 
}

.logo-wrapper{
	float: left;
	padding-top: 17px;
	padding-bottom: 16px;
}

.nav-options-wrapper{
	float: right;
}

.nav-options-wrapper a{
	line-height: 59px;
	font-size: 9px;
}

.nav-bar{
	float: left;
}

.nav-bar li{
	float: left;
	list-style: none;
	padding-left: 28px;	
}

.nav-bar a{
	color: #333333;
	text-decoration: none;
	background-image: url(../images/nav-arrow.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 7px;
}

.nav-bar a:hover{
	color: #ff6666;
	background-image: url(../images/nav-arrow-hover.png);
}

.nav-bar .nav-last{
	padding-right: 27px;
}

.options-wrapper{
	float: right;
}

.search{
	float: right;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 13px;
	width: 13px;
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 22px;
	padding-right: 21px;
	border-left: 2px #e1e1e1 solid;
	cursor: pointer;
}

.cart{
	float: right;
	background-image: url(../images/cart.png);
	background-repeat: no-repeat;
	background-position: 16px 24px;
	padding-left: 35px;
	padding-right: 14px;
	border-left: 2px #e1e1e1 solid;
	cursor: pointer;
}

.cart a{
	text-decoration: none;
	color: #333333;
	text-align: right;
}

.burger-menu{
	float: right;
	background-image: url(../images/burger-menu.png);
	background-repeat: no-repeat;
	background-color: #333333;
	background-position: center;
	padding-left: 20px;
	padding-right: 33px;
	padding-top: 23px;
	padding-bottom: 23px;
	border-left: 2px #e1e1e1 solid;
	height: 13px;
	width: 16px;
	cursor: pointer;
}


.slider-wrapper{
	width:auto;
	overflow: hidden;
	position: relative;
}

.slider-long-wrapper{
	width: 6400px;
}

.slider-arrows-wrapper{
	width: 100%; /*1280px;*/
	position: absolute;
	top: 243px;
}

.slider-arrow{
	padding-top: 14px;
	padding-bottom: 26px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center bottom 12px;
	font-size: 8px;
	cursor: pointer;
}

.slider-left-wrapper{
	float: left;
	background-image: url(../images/slider-left.png);
}

.slider-right-wrapper{
	float: right;
	background-image: url(../images/slider-right.png);
}

.pager-wrapper{
	width: 100%;
	position: absolute;
	top: 562px; /*95.25423728813559%;*/
	text-align: center;
}

.pager-wrapper li{
	display: inline-block;
	margin-left: 5px;
	background-image: url(../images/pager.png);
	background-position: center top;
	background-size: 9px 10px;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 9px;
	height: 10px;
}

.pager-wrapper li:first-child{
	margin-left: 0px;
}

.slider-long-wrapper li{
	position: relative;
	float: left;
	height: 590px;
	width: 1280px;
}

.slide-content-wrapper{
	width: 1280px; /*100%;*/
	position: absolute;
	top: 202px;
	color: #ffffff;
}

.slide-content-title{
	width: 1280px; /*100%;*/
	display: block;
	font-size: 58px;
	line-height: 41px;
	text-align: center;
	color: #333333;
	padding-bottom: 23px;
}
.slide-content-wrapper p{
	width: 429px;
	font-size: 15px;
	font-family: 'Roboto';
	line-height: 25px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 24px;
}

.slide-content-link{
	display: table;
	margin: 0 auto;
}

.content-wrapper{
	width: 100%;
}

/*traits*/

.trait-wrapper{
	padding-top: 27px;
	padding-bottom: 37px;
	padding-left: 1.640625%; /*21px;*/
	padding-right: 2.03125%; /*26px;*/
	background-color: #ffffff;
}

.trait-wrapper ul{
	width: 100%;
}

.trait-wrapper li{
	float: left;
	padding-left: 4.46066504460665%; /*55px;*/
	padding-right: 4.46066504460665%; /*55px;*/
}

.trait-image{
	height: 42px;
	background-repeat: no-repeat;
	background-position: center;
}

.trait-image1{
	background-image: url(../images/trait15.png);

}

.trait-image2{
	background-image: url(../images/trait26.png);
}

.trait-image3{
	background-image: url(../images/trait3.png);
}

.trait-image4{
	background-image: url(../images/trait4.png);
}

.trait-image5{
	background-image: url(../images/trait15.png);
}

.trait-image6{
	background-image: url(../images/trait26.png);
}

.trait-title{
	display: block;
	padding-top: 25px;
}

.trait-title a{
	font-size: 10px;
	line-height: 10px;
	text-decoration: none;
	color: #8b8886;
	display: block;
	padding-bottom: 16px;
	background-image: url(../images/trait-border.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.trait-title a:hover{
	color: #ff3333;
	background-image: url(../images/trait-border-hover.png);
}

/*about*/

.about-left{
	width: 39.375%; /*504px;*/
	float: left;
	background-color: #fbf8f6;
	padding-top: 84px;
	padding-bottom: 84px;
	padding-left: 5.3125%; /*68px;*/
	padding-right: 5.3125%; /*68px;*/
}

.about-left h1{
	font-size: 26px;
	line-height: 20px;
	padding-bottom: 20px;
	color: #35322f;
}

.about-first-para{
	font-size: 13px;
	font-family: 'Roboto';
	line-height: 22px;
	padding-bottom: 21px;
	display: block;
}

.about-second-para{
	font-size: 9px;
	font-family: 'Roboto';
	line-height: 18px;
	color: #cccccc;
}

.buy-buttons-wrapper{
	padding-top: 27px;
}

.buy-theme-link{
	float: left;
	margin-right: 12px;
}

.link-button{
	border: 2px #cccccc solid;
}

.link-button a{
	display: block;
	line-height: 28px;
	padding-left: 18px;
	padding-right: 36px;
	font-size: 9px;
	font-weight: bold;
	color: #999999;
	background: none;
	background-image: url(../images/buy-arrow-black.png);
	background-repeat: no-repeat;
	background-position: right 16px center;
	text-decoration: none;
}

.link-button a:hover{
	color: white;
	background-color: #ff6666;
	background-image: url(../images/buy-arrow-white.png);
}

.slide-content-link a{
	line-height: 36px;
}

.about-right{
	width: 50%; /*640px;*/
	float: right;
}

.about-right img{
	width: 100%; /*640px;*/
}

/*counter*/

.counter-wrapper{
	min-width: auto;
	background-color: #ff6666;
	padding-left: 21.09375%; /*270px;*/
	padding-right: 19.375%; /*248px;*/
	padding-top: 38px;
	padding-bottom: 38px;
}

.counter-wrapper li{
	float: left;
	color: #fe7b7c;
	padding-right: 7.217847769028871%; /*55px;*/
}

.counter-wrapper .counter2{
	padding-right: 9.448818897637795%; /*72px;*/
}

.counter-icon{
	float: left;
	width: 56px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: left center;
	border-right: 2px #fe7b7c solid;
}

.counter-icon1{
	background-image: url(../images/counter-icon1.png);
}

.counter-icon2{
	background-image: url(../images/counter-icon2.png);
}

.counter-icon3{
	background-image: url(../images/counter-icon3.png);
}

.counter-icon4{
	background-image: url(../images/counter-icon4.png);
}

.counter-data{
	float: right;
	padding-left: 18px;
	padding-top: 11px;
	padding-bottom: 9px;
}

.counter-number{
	display: block;
	/*padding-right: 98px;*/
	font-size: 30px;
	line-height: 32px;
}

.counter-name{
	display: block;
	font-size: 10px;
	line-height: 18px;
}

/*detail*/

.detail-wrapper{
	background-color: #ffffff;
	width: 100%;
}

.upper-detail-wrapper{
	width: 100%;
}

.lower-detail-wrapper{
	width: 100%;
}

.detail-left-wrapper{
	float: left;
	width: 50%;
}

.detail-right-wrapper{
	float: right;
	width: 50%;
}

.inner-detail-left{
	float: left;
}

.inner-detail-right{
	float: right;
}

.detail-image-wrapper{
	width: 50%;
}

.detail-image-wrapper img{
	width: 100%;
}

.detail-description-wrapper{
	width: 34.375%; /*220px;*/
	padding-left: 6.5625%; /*42px;*/
	padding-right: 9.0625%; /*58px;*/
	padding-top: 43px;
}

.detail-date{
	font-size: 9px;
	font-family: 'Roboto';
	font-style: italic;
	color: #a299a3;
	line-height: 9px;
}

.detail-comments{
	font-size: 9px;
	font-family: 'Roboto';
	font-style: italic;
	color: #a299a3;
	line-height: 9px;
}

.detail-comments a{
	text-decoration: none;
	color: #a299a3;
	line-height: 9px;
}

.detail-description-wrapper h1{
	font-size: 10px;
	line-height: 10px;
	padding-top: 14px;
	padding-bottom: 19px;
}

.detail-description-wrapper p{
	font-size: 10px;
	font-family: 'Roboto';
	color: #a299a3;
	line-height: 17px;
}

.detail-read-more{
	font-size: 9px;
}

.detail-read-more a{
	text-decoration: none;
	color: #0f0006;
	line-height: 54px;
	padding-right: 15px;
	background-image: url(../images/read-more-arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/*click-here*/
.click-here-wrapper{
	background-color: #fcf8f5;
	text-align: center;
	
}

.click-here-wrapper a{
	text-decoration: none;
	color: #141827;
	font-size: 10px;
	line-height: 10px;
	padding-top: 20px;
	padding-bottom: 38px;
	display: block;
	background-image: url(../images/click-here-arrow.png);
	background-repeat: no-repeat;
	background-position: center bottom 19px;
}

/*footer*/

.footer-wrapper{
	width: auto;
	background-color: #333333;
	padding-left: 3.4375%; /*44px;*/ 
	padding-right: 9.0625%; /*116px;*/
	padding-top: 63px;
	padding-bottom: 67px;
	color: #666666;
}

.footer-column{
	float: left;
	padding-left: 3.214285714285714%; /*36px;*/
}

.footer-column1-wrapper{
	
	padding-bottom: 4px;
	width: 22.58928571428571%; /*253px;*/
	font-family: "Roboto";
}

.footer-column2-wrapper{
	width: 22.58928571428571%; /*253px;*/
}

.footer-column3-wrapper{
	width: 22.58928571428571%; /*253px;*/
}

.footer-column4-wrapper{
	width: 19.28571428571429%; /*216px*/;
}

.footer-title{
	font-size: 11px;
	font-weight: bold;
	color: #e0dcd8;
	line-height: 16px;
}

.footer-logo-wrapper{
	padding-bottom: 15px;
}

.company-description{
	font-size: 10px;
	line-height: 18px;
}

.follow-us-logos{
	padding-top: 12px;
	padding-bottom: 15px;
}

.other-logos{
	float: left;
	padding-right: 5px;
	background-repeat: no-repeat;
}

.facebook-logo{
	background-image: url(../images/facebook-logo.png);
	width: 8px;
	height: 13px;
	cursor: pointer;
}

.twitter-logo{
	background-image: url(../images/twitter-logo.png);
	width: 13px;
	height: 11px;
	cursor: pointer;
}

.pinterest-logo{
	background-image: url(../images/pinterest-logo.png);
	width: 13px;
	height: 11px;
	cursor: pointer;
}

.google-plus-logo{
	background-image: url(../images/google-plus-logo.png);
	width: 13px;
	height: 11px;
	cursor: pointer;
}

.unknown1-logo{
	background-image: url(../images/logo5.png);
	width: 14px;
	height: 13px;
	cursor: pointer;
}

.unknown2-logo{
	background-image: url(../images/logo6.png);
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.subscription-wrapper{
	padding-top: 16px;
	border-top: 2px #3f3f3f solid;
}

.email{
	float: left;
	width: 65.61264822134387%; /*166px;*/
	height: 30px;
	background: none;
	border: 2px #3b3b3b solid;
	line-height: 26px;
	color: #ffffff;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 9px;
}

.subscribe{
	width: 33.59683794466403%; /*85px;*/
	float: left;
	background-color: #ff6666;
	border: 0px;
	line-height: 30px; 
	color: #ffffff;
	text-align: center;
	font-size: 9px;
}

.latest-blog-posts{
	padding-top: 16px;
}

.latest-blog-posts ul{
	font-size: 0px;
}

.latest-blog-posts li{
	list-style: none;
	border-top: 2px #3b3b3b solid;
	padding-top: 10px;
	padding-bottom: 10px;
}

.latest-blog-posts li:first-child{
	border-top: 0px;
}

.blog-post-title{
	font-size: 10px;
	color: #e0dcd8;
	line-height: 16px;
	font-family: "Roboto";
}

.blog-post-date{
	font-size: 10px;
	line-height: 17px;
	font-family: "Roboto";
}

.twitter-feed-list {
	padding-top: 12px;
}

.twitter-feed-list ul{
	font-size: 0px;
}

.twitter-feed-list li{
	list-style: none;
	border-top: 2px #3b3b3b solid;
	padding-top: 14px;
	padding-bottom: 12px;
	font-family: "Roboto";
}

.twitter-feed-list li:first-child{
	border-top: none;
}

.twitter-feed-text{
	font-size: 10px;
	padding-left: 20px;
	background-image: url(../images/twitter-red.png);
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 18px;
}

.twitter-feed-list a{
	font-size: 10px;
	color: #e0dcd8;
	text-decoration: none;
	line-height: 14px;
}

.photo-stream-images{
	padding-top: 24px;
}

.photo-stream-images li{
	float: left;
	list-style: none;
	padding-right: 1.851851851851852%; /*4px;*/
	padding-bottom: 4px;
}

.flickr-text{
	font-size: 8px;
	background-image: url(../images/flickr-logo.png);
	background-repeat: no-repeat;
	background-position: 2px center;
	padding-left: 18px; /*8.333333333333333%;*/
}

.flickr-text a{
	line-height: 25px;
	text-decoration: none;
	color: #666666;
	font-family: "Roboto";
}

@media (max-width: 1024px) {
	.trait-wrapper{
		padding-top: 27px;
		padding-bottom: 37px;
		padding-left: 0%; /*10px;*/
		padding-right: 0%; /*13px;*/
	}

	.trait-wrapper li{
		padding-left: 3%; /*55px;*/
		padding-right: 3%; /*55px;*/
	}

	.counter-wrapper{
		padding-left: 8%; /*270px;*/
		padding-right: 6%; /*248px;*/
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.counter-wrapper li{
		padding-right: 4%; /*55px;*/
	}

	.counter-wrapper .counter2{
		padding-right: 6%; /*72px;*/
	}

	.detail-description-wrapper{
		padding: 0px;
	}

	.detail-left-wrapper{
		width: 100%;
		clear: both;
	}

	.detail-right-wrapper{
		width: 100%;
		clear: both;
	}	
}

@media (max-width: 768px) {
	.trait-wrapper li{
		padding-left: 1%; /*55px;*/
		padding-right: 1%; /*55px;*/
	}

	.counter-wrapper{
		padding-left: 4%; /*270px;*/
		padding-right: 2%; /*248px;*/
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.counter-wrapper li{
		padding-right: 2%; /*55px;*/
	}

	.counter-wrapper .counter2{
		padding-right: 4%; /*72px;*/
	}

	.inner-detail-left{
		clear: both;
		width: 100%;
	}

	.inner-detail-right{
		float: left;
		clear: both;
		width: 100%;
	}

	.detail-description-wrapper{
		padding: 0px;
	}

	.email{
		clear: both;
		width: 100%;
	}

	.subscribe{
		clear: both;
		width: 100%;
	}
}